{% block articlenav %}

    <nav class="{{ class }}" id="{{ containerId }}">
        <ul data-controller="articlenav">

            {% for item in items %}

                <li>
                    <a href="{{ item.href }}" class="articlenavitem" data-id="{{ item.data-id }}"
                       data-alias="{{ item.data-alias }}" title="{{ item.title }}">
                        {{ item.text }}
                    </a>
                </li>

            {% endfor %}

        </ul>
    </nav>

{% endblock %}