{% block articlenav %}

    <nav class="{{ class }}" id="{{ containerId }}">
        <ul data-controller="articlenav">

            {% for item in items %}

                <li>
                    <a href="#" class="articlenavitem" data-action="click->articlenav#navigate"
                       data-articlenav-href-value="{{ item.href }}" data-articlenav-ident-value="{{ item.data-id }}"
                       data-articlenav-alias-value="{{ item.data-alias }}" title="{{ item.title }}">
                        {{ item.text }}
                    </a>
                </li>

            {% endfor %}

        </ul>
    </nav>

{% endblock %}